
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:white;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

a {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.Title, .ing , .p, .steps, .Enjoy, .otherR {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

.homepage {
    margin: 0;
    padding: 10px;
    background-color: rgb(47, 95, 255);
}

.recipestab {
    margin-top: -20px;
    background-color: darkblue;
    color: white;
}

.Credits {
    text-align: center;
    font-weight: bold;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -16px;
    padding: 10px;
    background-color: rgb(47, 95, 255);
}

.DEVELOPMENT {
    display: block;
    padding: 5px;
}
